{{> viewblog}}

{{!-- If user is signed in and ower of blog, display the edit and delete buttons along with the view blog partial --}}
<button id="edit-blog" value="{{ blog.id }}">Edit Blog</button>
<button id="delete-blog" value="{{ blog.id}}">Delete Blog</button>