{{!-- Using Partial Handlebars, this is an error partial --}}
{{!-- This error message will display whenever a problem occurs and is used on numerous files --}}
<div style="display: none" id="alert" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span> <span class="msg"></span>
</div>