<h1>View all blogs here</h1>

<select name="users" id="users">
    <option value="AllUsers">All Users</option>
    {{#each user }}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
</select>

<div id="FilterBlogs"></div>
