<h2>Welcome to the Blog Machine</h2>
<h4>The Blog machine is an app that lets bloggers share their articles with fellow authors.</h4><br>
<h4>Recently Posted Blogs:</h4>

{{!-- Displays 5 most recently posted blogs --}}
<div id="RecentBlogs"></div>