<h1>Edit user profile here</h1>


<br>
<br>

<p>Edit profile picture</p>
<form id="updateprofile">
  <input type="text" placeholder="Title">
  <input type="text" placeholder="Bio">
  <input type="text" placeholder="Hobbies">
  <input type="text" placeholder="Interests">
  <input type="text" placeholder="Email">
  <input type="text" placeholder="Website">
  <input type="text" placeholder="Name">

  <input type="file" id="profilePicture" name="profilePicture">
  <input type="submit">
</form>