{{> viewmember}}
<br>
{{!-- If user signed in is owner of the profile, it will display the edit and delete profile buttons, else it will just display the viewmember partial --}}
<button id="edit-profile">Edit Profile</button>
<button id="delete-profile">Delete Profile</button>